.gameboard {
    border: #101315 solid 6px;
    max-height: 60vh;
    max-width: 50vh;
}

.gameboard__intern {
    border-top: 40px solid #c9c9c9;
    border-right: 40px solid #434343;
    border-left: 40px solid #434343;
    border-bottom: 40px solid #2c2c2c;
}

.led {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1.5px solid #2c2c2c;
    margin: 8px;
}


@media screen and (max-width: 768px) {
    .gameboard {
        border: #101315 solid 4px;
    }
    
    .gameboard__intern {
        border-top: 30px solid #c9c9c9;
        border-right: 30px solid #434343;
        border-left: 30px solid #434343;
        border-bottom: 30px solid #2c2c2c;
    }
    
    .led {
        width: 20px;
        height: 20px;
        border: 1.2px solid #2c2c2c;
        margin: 6px;
    }
    .gameboard__intern--grid.game {
        border: 4px solid #e1e1e1;
        border-radius: 8px;
      }
      .gameboard__intern--grid.game .display {
        margin: 4px;
      }
      .gameboard__intern--grid.user {
        border-radius: 8px;
      }
      .gameboard__intern--grid.user .button, ._high_button {
        margin: 4px;
        border-radius: 2.5px;
        border-top: 4px solid #c9c9c9;
        border-right: 4px solid #434343;
        border-left: 4px solid #434343;
        border-bottom: 4px solid #2c2c2c;
      }
      
}